.dots-icon {
  position: relative;
  margin-left: auto;
  height: 0.3rem;
  width: 0.3rem;
  background-color: white;
  border-radius: 50%;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    height: 0.3rem;
    width: 0.3rem;
    background-color: white;
    border-radius: 50%;
  }

  &::before {
    top: -0.5rem;
  }

  &::after {
    bottom: -0.5rem;
  }
}

.chevron {
  border-color: white;
  border-style: solid;
  border-width: $border-size-chevron $border-size-chevron 0 0;
  display: inline-block;
  height: calc($border-size-chevron * 5);
  width: calc($border-size-chevron * 5);
  transform: rotate(-135deg);

  &-right {
    transform: translateX(-0.2rem) rotate(45deg);
  }
}

.loading-bubble {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 2rem;
  bottom: 2rem;
  width: 4rem;
  padding: 1rem;
  background-color: #e5e4e9;
  border-radius: 5rem;
  opacity: 1;
  transition: opacity 0.2s;

  :not(:last-child) {
    margin-right: 0.2rem;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: -0.1rem;
    left: -0.1rem;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: inherit;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -0.6rem;
    left: -0.6rem;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: inherit;
  }

  &__dot {
    position: relative;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: #b7b6bb;
    z-index: 5;

    &-1 {
      animation: pulse 1s linear infinite;
    }
    &-2 {
      animation: pulse 1s linear 0.8s infinite;
    }
    &-3 {
      animation: pulse 1s linear 1.6s infinite;
    }
  }
}
