@keyframes pulse {
  0% {
    background-color: #b7b6bb;
  }
  25% {
    background-color: #a8a7ac;
  }
  50% {
    background-color: #7d7c81;
  }
  100% {
    background-color: #b7b6bb;
  }
}

//light #b7b6bb
//medium #a8a7ac
//dark #7d7c81
